@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	background-color: #f9f9f9;
}

.wrapper {
	width: 100%;
	max-width: 1060px;
	border-left: 2px solid #dbdbdb;
	border-right: 2px solid #dbdbdb;
	padding: 40px 35px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, .3)
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.logo {
	margin-bottom: 40px;
}
.wrapper h1 {
	font-size: 40px;
	color: #323232;
	margin-bottom: 40px;
}
a {
	text-decoration: none;
}

/*top_menu*/
.main_menu {
	background: linear-gradient(#434343, #5e5e5e);
}
.main_menu li {
	float: left;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.main_menu li:hover {
	background-color: #2e2e2e;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}
.main_menu li a {
	color: white;
	line-height: 40px;
	padding: 0px 40px;
}

/*dropdown submenu*/
.dropdown {
	display: inline-block;
	position: relative;
	color: white;
	line-height: 40px;
	padding: 0px 40px;
}
.dropdown_submenu {
	display: none;
	position: absolute;
	left: 0px;
	min-width: 220px;
	background-color: #9b8f8f;
}
.dropdown_submenu a {
	display: block;
	color: white;
	text-decoration: none;
}
.dropdown:hover .dropdown_submenu {
	display: block;
}
.dropdown_submenu a:hover {
	background-color: #504747;
}

/*bottom_menu*/
.main_menu_bottom {
	background-color: #e1e1e1;
}
.main_menu_bottom li {
	float: left;
}
.main_menu_bottom li a {
	color: #2c2c2c;
	line-height: 40px;
	padding: 0px 40px;
}
.main_menu_bottom li a:hover {
	text-decoration: underline;
	transition: all 0.2s;
}
.main_menu_bottom li:last-child {
    float: right;
    line-height: 40px;
    margin-right: 20px;
}

/*other*/
.main_wrapper {
	margin: 40px 0px;
}
.left_panel {
	float: left;
	width: 25%;
}
.side_menu {
	border: 1px solid #c8c8c8;
}
.side_menu li {
	border-bottom: 1px solid #c8c8c8;
}
.side_menu li:last-child {
	border-bottom: none;
}
.side_menu li:hover {
	background-color: #f9f9f9;
	padding-left: 20px;
	transition: all 0.2s;
}
.side_menu li a {
	line-height: 40px;
	padding-left: 25px;
	color: #656363;
}
.side_menu li a:hover {
	color: #2c2c2c;
}
.main_content {
	float: right;
	width: 72%;
}
.main_content img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.main_content p {
    margin-top: 50px;
    padding: 0 20px;
    color: #2c2c2c;
}

@media (max-width: 970px) {
	.main_menu_bottom li {
		display: none;
	}
	.main_menu_bottom li:last-child {
    	display: block;
	}
}

@media (max-width: 768px) {
	.main_menu li {
		float: none;
		display: block;
		text-align: center;
		padding: 0;
	}
	.dropdown_submenu {
		position: static;
	}
	.left_panel {
		display: none;
	}
	.main_content {
		float: none;
		width: 100%;
	}
}