@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);

* {
	box-sizing: border-box;
}

@font-face {
	font-family: Lobster;
	src: url(../fonts/Lobster 1.4.otf);
}

@font-face {
	font-family: "Bebas Neue";
	src: url(../fonts/BebasNeue Regular.ttf);
}

body {
	font-family: "Bebas Neue", Arial, Sans-serif;
	background-color: #ffffff;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
}

header {
	padding: 20px 10% 12px;
	text-align: center;
}

h1 {
	float: left;
	padding-left: 23px;
	font-family: "Lobster 1.4";
	font-size: 49px;
	color: #3cc3b5;
	line-height: 40px;
}
.search {
	display: inline-block;
	line-height: 50px;
}
.search input[type=search] {
	width: 445px;
	height: 33px;
	padding: 12px 8px 5px 8px;
	line-height: 50px;
	border: 1px solid #e1e1e1;
	background-image: url('../img/searchicon.png');
	background-repeat: no-repeat;
	background-position: 416px center;
}
.basket {
	float: right;
	height: 50px;
	font-size: 33px;
	color: #a1a1a1;
	padding-right: 8px;
}
.basket img{
	padding-right: 10px;
}
nav.top_menu {
	padding: 0 10%;
	text-align: center;
	background-color: #4ccfc1;
}
nav.top_menu ul {
	display: inline-block;
}
nav.top_menu li {
	display: inline-block;
	border-right: 1px solid #ffffff;
}
nav.top_menu li a {
	width: 100%;
	padding: 5px 20px;
	line-height: 36px;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
}
.top_menu li:last-child {
	border-right: none;
}
.slider_1 {
	position: relative;
	padding: 67px 10% 50px;
	background-color: #38beb4;
}
.slider_1_content {
	margin: 0 auto;
	max-width: 98%;
}
.t-shirt {
	float: left;
	width: 35%;
	padding: 0px 0px 4px 7%;
}
.t-shirt img {
	/*display: block;*/
	max-width: 100%;
	margin: 0 auto;
}
.description {
	float: left;
	width: 55%;
	margin-left: 10%;
	padding: 15px 16% 3px 0px;
}
.slider_1 .description h2 {
	font-size: 61px;
	color: #ffffff;
	line-height: 50px;
	margin-bottom: 3px;
}
.slider_1 .description p {
	font-family: "Open Sans", Arial, Sans-serif;
	font-size: 17px;
	color: white;
	line-height: 28px;
	margin-top: 16px;
	margin-bottom: 25px;
}
button {
	background-color: transparent;
	border: 3px solid white;
	border-radius: 7px;
	padding: 4px 27px;
	font-family: "Bebas Neue", Arial, Sans-serif;
	font-size: 27px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}
.slider_1_switch {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 20px;
}
.slider_1_switch span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: white;
	background-clip: padding-box;
	cursor: pointer;
}
.slider_1_switch span:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.slider_2 {
	position: relative;
	height: 190px;
	padding: 0 10%;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.13);
}
.slider_2 .controls {
	position: absolute;
	height: 190px;
	width: 30px;
	top: 0;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.slider_2 .arrow_left {
	left: 3%;
	background-image: url("../img/arrow_left.png");
}
.slider_2 .arrow_right {
	right: 3%;
	background-image: url("../img/arrow_right.png");
}
.slider_2 .box {
	position: relative;
	float: left;
	width: 33.33%;
	height: 190px;
	overflow: hidden;
	border-right: 1px solid #e7e7e7;
}
.slider_2 .box:nth-child(4) {
	border-right: none;
}
.slider_2 .imgbox {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 60%;
	transform: translateY(-50%);
}
.slider_2 .imgbox img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
	max-height: 100%;
}
.slider_2 .content {
	position: absolute;
	top: 50%;
	right: 0px;
	width: 40%;
	transform: translateY(-50%);
}
.slider_2 .content h3 {
	font: 27px/26px "Bebas Neue";
	max-height: 50px;
	overflow-y: hidden;
	color: #afafaf;
	text-transform: uppercase;
	margin-bottom: 18px;
}
.slider_2 .content button {
	background-color: #3cc395;
	border-radius: 5px;
	border: none;
	padding: 6px 15px;
	font-family: "Bebas Neue", Arial, Sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}
.featured_products_title {
	padding: 20px 10% 16px;
	background-color: #38beb4;
}
.featured_products_title h3 {
	padding-left: 57px;
	font-size: 31px;
	text-transform: uppercase;
	color: white;
}
.featured_products {
	position: relative;
	padding: 0 10% 72px;
}
.product_box {
	float: left;
	position: relative;
	width: 24.8%;
	margin: 46px 0px 2px 6%;
	height: 260px;
	overflow: hidden;
	border: 1px solid #e4e4e4;
	border-bottom: 5px solid #3cc395;
}
.img_content {
	text-align: middle;
	padding: 25px 10px 20px;
}
.img_content img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 160px;
}
.img_description {
	position: absolute;
	top: 154px;
	width: 100%;
	text-align: center;
}
.img_description h3 {
	
	font: 27px/25px "Bebas Neue", Arial, Sans-serif;
	overflow: hidden;
	color: #afafaf;
	text-transform: uppercase;
	padding-top: 10px;
}
.featured_products .img_description p {

	font: 27px/25px "Bebas Neue", Arial, Sans-serif;
	color: #afafaf;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
	margin-bottom: 10px;
}
.featured_products .img_description span {
	padding: 0px 6% 0px 8%;
}
.featured_products .img_description button {
	background-color: #3cc395;
	border-radius: 5px;
	border: none;
	padding: 6px 15px;
	font-family: "Bebas Neue", Arial, Sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}
nav.bottom_menu {
	padding: 37px 10% 34px;
	background-color: #3cc3b5;
}
.column {
	float: left;
	width: 23.6%;
	padding-left: 60px;
}
.column h3 {
	padding-bottom: 10px;
	font-size: 28px;
	text-transform: uppercase;
	color: white;
}
.column li a {
	font: 15px/28px "Open sans", Arial, Sans-serif;
	color: #ffffff;
}
footer {
	background-color: #2da89b;
	padding: 9px 0;	
}
footer p {
	text-align: center;
	font: 15px/28px "Open sans", Arial, Sans-serif;
	color: #ffffff;
}

@media (max-width: 1264px) {
	.slider_1 {
	padding-bottom: 60px;
	}

	.slider_1_switch {
		margin-top: 15px;	
	}
}

@media (max-width: 992px) {
	header,
	nav.top_menu,
	.slider_1,
	.slider_2,
	.featured_products_title,
	.featured_products,
	nav.bottom_menu {
		padding-left: 7%;
		padding-right: 7%;
	}
}

@media (max-width: 887px) {
	nav.bottom_menu {
	padding-bottom: 0px;
	}
	.bottom_menu .column {
	width: 50%;
	padding-left: 10px;
	text-align: center;
	}
	.bottom_menu .column li:last-child{
	padding-bottom: 30px;
	}
}

@media (max-width: 768px) {
	.slider_1 .slider_1_content .description {
		width: 50%;
		margin-left: 7%;
		padding-right: 2%;
	}
	.slider_2 .box {
	width: 50%;
	}
	.slider_2 .box:nth-child(3) {
	border-right: none;
	}
	.product_box {
	width: 43%;
	}
}

@media (max-width: 600px) {
	header,
	nav.top_menu,
	.slider_1,
	.slider_2,
	.featured_products_title,
	.featured_products,
	nav.bottom_menu {
		padding-left: 5%;
		padding-right: 5%;
	}
	h1 {
		padding-bottom: 10px;
	}
	div.search  {
		float: none;
		width: 95%;
	}
	div.search input[type=search] {
		width: 95%;
		background-position: 330px center;
	}
	.slider_1 .t-shirt {
		float: none;
		width: 100%;
		padding: 0px 0px 20px 0px;
		text-align: center;
	}
	.slider_1 .t-shirt img {
		max-height: 300px;
	}
	.slider_1 .slider_1_content .description {
		float: none;
		width: 100%;
		margin: 0px;
		padding: 20px 0px 20px 0px;
		text-align: center;
	}
	.slider_2 .box {
		float: none;
		width: 100%;
		border-right: none;
	}
	.product_box {
		float: none;
		width: 100%;
		max-width: 275px;
		margin-left: auto;
		margin-right: auto;
	}
	.bottom_menu .column {
		width: 100%;
	}
}